<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="TransactionConnectString"
         providerName="System.Data.SQLite"
         connectionString="Data Source=database.db; password =Sondn@123"/>
		<!--<add name="MyConString" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\Projects;Initial Catalog=TicketManagementSystem;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>-->
	</connectionStrings>
</configuration>
